<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cursos</h1>
    <p><a href="{% url 'cadastrar_curso' %}">Cadastrar</a></p>

    <p>Listagem de Cursos</p>
    {% for curso in todos_cursos %}
    <p>
        Título: {{curso.titulo}} 
        Vagas: {{curso.vagas}}
        <a href="{% url 'editar_curso' curso.id %}">EDITAR</a>
        <a href="{% url 'remover_curso' curso.id%}">REMOVER</a>
    </p>
    {% empty %}
    <p> não existem cursos cadastrados</p>
    {% endfor %}
</body>
</html>